header(id="home")
	.navigation
		nav
			.nav-items
				a(href="#home") Home
				a(href="#about") About Me
				a(href="#portfolio") Portfolio
				a(href="#contact") Contact

		.divider

	.jwood-logo

	.scroll-down
		p Scroll down to see more
		a(href="#double-arrow").double-arrow
