


//- a.fancybox(rel='gallery1', href='http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_b.jpg', title='Morning Godafoss (Brads5)')
//- 	img(src='http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_m.jpg', alt='')
//- a.fancybox(rel='gallery1', href='http://farm4.staticflickr.com/3691/10185053775_701272da37_b.jpg', title='Vertical - Special Edition! (cedarsphoto)')
//- 	img(src='http://farm4.staticflickr.com/3691/10185053775_701272da37_m.jpg', alt='')
//- a.fancybox(rel='gallery1', href='http://farm1.staticflickr.com/574/22407305427_69cc6e845f_b.jpg', title='Racing against the Protons (tom.leuzi)')
//- 	img(src='http://farm1.staticflickr.com/574/22407305427_69cc6e845f_m.jpg', alt='')
//- a.fancybox(rel='gallery1', href='http://farm1.staticflickr.com/291/18653638823_a86b58523c_b.jpg', title='Lupines (Kiddi Einars)')
//- 	img(src='http://farm1.staticflickr.com/291/18653638823_a86b58523c_m.jpg', alt='')


.portfolio(id="portfolio")
	h2 Portfolio
	.pf-items
		.cell
			a.fancybox(rel='gallery1', href='../images/jw-portfolio-01.jpg', title='Image')
				img(src="../images/jw-portfolio-01.jpg" alt="image")
		.cell
			a.fancybox(rel='gallery1', href='../images/jw-portfolio-02.jpg', title='Image')
				img(src="../images/jw-portfolio-02.jpg" alt="image")
		.cell
			a.fancybox(rel='gallery1', href='../images/jw-portfolio-03.jpg', title='Image')
				img(src="../images/jw-portfolio-03.jpg" alt="image")
		.cell
			a.fancybox(rel='gallery1', href='../images/jw-portfolio-04.jpg', title='Image')
				img(src="../images/jw-portfolio-04.jpg" alt="image")
		.cell
			a.fancybox(rel='gallery1', href='../images/jw-portfolio-05.jpg', title='Image')
				img(src="../images/jw-portfolio-05.jpg" alt="image")
		.cell
			a.fancybox(rel='gallery1', href='../images/jw-portfolio-06.jpg', title='Image')
				img(src="../images/jw-portfolio-06.jpg" alt="image")
		.cell
			a.fancybox(rel='gallery1', href='../images/jw-portfolio-07.jpg', title='Image')
				img(src="../images/jw-portfolio-07.jpg" alt="image")
		.cell
			a.fancybox(rel='gallery1', href='../images/jw-portfolio-08.jpg', title='Image')
				img(src="../images/jw-portfolio-08.jpg" alt="image")
		.cell
			a.fancybox(rel='gallery1', href='../images/jw-portfolio-09.jpg', title='Image')
				img(src="../images/jw-portfolio-09.jpg" alt="image")
		.cell
			a.fancybox(rel='gallery1', href='../images/jw-portfolio-010.jpg', title='Image')
				img(src="../images/jw-portfolio-010.jpg" alt="image")
