.portfolio(id="portfolio")
	h2 Portfolio
	.pf-items
		a.fancybox(rel='gallery1', href='../images/jw-portfolio-01.jpg', title='Image')
			img(src="../images/jw-portfolio-01.jpg" alt="image")
		a.fancybox(rel='gallery1', href='../images/jw-portfolio-02.jpg', title='Image')
			img(src="../images/jw-portfolio-02.jpg" alt="image")
		a.fancybox(rel='gallery1', href='../images/jw-portfolio-03.jpg', title='Image')
			img(src="../images/jw-portfolio-03.jpg" alt="image")
		a.fancybox(rel='gallery1', href='../images/jw-portfolio-04.jpg', title='Image')
			img(src="../images/jw-portfolio-04.jpg" alt="image")
		a.fancybox(rel='gallery1', href='../images/jw-portfolio-05.jpg', title='Image')
			img(src="../images/jw-portfolio-05.jpg" alt="image")
		a.fancybox(rel='gallery1', href='../images/jw-portfolio-06.jpg', title='Image')
			img(src="../images/jw-portfolio-06.jpg" alt="image")
		a.fancybox(rel='gallery1', href='../images/jw-portfolio-07.jpg', title='Image')
			img(src="../images/jw-portfolio-07.jpg" alt="image")
		a.fancybox(rel='gallery1', href='../images/jw-portfolio-08.jpg', title='Image')
			img(src="../images/jw-portfolio-08.jpg" alt="image")
		a.fancybox(rel='gallery1', href='../images/jw-portfolio-09.jpg', title='Image')
			img(src="../images/jw-portfolio-09.jpg" alt="image")
		a.fancybox(rel='gallery1', href='../images/jw-portfolio-10.jpg', title='Image')
			img(src="../images/jw-portfolio-010.jpg" alt="image")
