.portfolio(id="portfolio")
	h2 Portfolio
	.pf-items
		.cell
			a(href='#porfolio-item')
				img(src="../images/jw-portfolio-01.jpg")
		.cell
			a(href='#porfolio-item')
				img(src="../images/jw-portfolio-02.jpg")
		.cell
			a(href='#porfolio-item')
				img(src="../images/jw-portfolio-03.jpg")
		.cell
			a(href='#porfolio-item')
				img(src="../images/jw-portfolio-04.jpg")
		.cell
			a(href='#porfolio-item')
				img(src="../images/jw-portfolio-05.jpg")
		.cell
			a(href='#porfolio-item')
				img(src="../images/jw-portfolio-06.jpg")
		.cell
			a(href='#porfolio-item')
				img(src="../images/jw-portfolio-07.jpg")
		.cell
			a(href='#porfolio-item')
				img(src="../images/jw-portfolio-08.jpg")
		.cell
			a(href='#porfolio-item')
				img(src="../images/jw-portfolio-09.jpg")
		.cell
			a(href='#porfolio-item')
				img(src="../images/jw-portfolio-010.jpg")
