// ***********************************
// IMPORTS
// ***********************************
@import "ui/_reset";



// ***********************************
// HELPERS
// ***********************************
@import "_variables";
@import "_sprite";
@import "_mixins";



// // ***********************************
// // BASE STYLES
// // ***********************************
@import "_base";
@import "_layout";
@import "_typography"; // typography and links
@import "_media";



// ***********************************
// UI ELEMENTS
// ***********************************
@import "ui/_j-wood";
@import "ui/_lists";
// @import "ui/_buttons";
// @import "ui/_tables";
// @import "ui/_forms";
// @import "ui/_code";
// @import "ui/_panels";




// ***********************************
// Navigation
// ***********************************
// @import "_navigation";


for $i in 1..4
  .sprite-santa-{$i}
    sprite($s-santa-claus-2)
    background-color orange - (100 / $i)